@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    background-color: #F4DFBA;
    font-family: 'Tilt Neon', cursive;
    font-size: 20;
    color: #000;
}
.titulo{
    background-color: #CA965C;
    text-align: center;
    margin-top: 50px;
    margin-left: 720px;
    margin-right: 720px;
    border-radius: 10px;
    padding: 5px;
    color: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    text-align: center;
}

nav li {
    display: inline-block;
    width: 170px;
    height: 50px;
    padding: 5px 10px;
    background-color: #CA965C;
    text-align: center;
    color: #fff;
    position: relative;
}

nav li:hover {
    background-color: #876445;
    color: #000;

}

nav li>ul {
    display: none;

}

nav li:hover>ul {
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 2;
}

.menu {
    background-color: #CA965C;
    text-align: center;
}


@keyframes pikachu {
    0% {
        transform: none;
    }

    50% {
        transform: translateX(-100px);
    }

    100% {
        transform: none;
    }
}

img {
    width: 70px;
    margin-bottom: -10px;
}

.imagen {
    margin-left: auto;
    animation-name: pikachu;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes pikachu2 {
    0% {
        transform: none;
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: none;
    }
}


.imagen2 {
    margin-left: auto;
    animation-name: pikachu2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

a {
    text-decoration: none;
    font-family: 'Tilt Neon', cursive;
    color: white;

}

.aaaaa {
    margin: 5px;
}

.mapa {
    width: 200px;
    position: absolute;
    margin-left: 1550px;
    margin-top: 150px;

}
video{
    width: 1000px;

    margin-top: 50px;
    margin-left: 450px;
    
}
.twitter-timeline{
    width: 200px;
    margin-left: 50px;
    position: absolute;
    margin-top: 100px;
}

.importante{
    background-color: #CA965C;
    text-align: center;
    margin-top: 50px;
    margin-left: 720px;
    margin-right: 720px;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
}
@media only screen and (max-width: 390px) {
    .imagen{
        display: none;
    }
    .imagen2{
        animation: none;
    }
    .titulo{
        margin-left: 10px;
        margin-right: 10px;
    }
    video{
        width: 390px;
        margin-left: 0px;
    }
    .mapa{
        margin-left: 45px;
        margin-top: 300px;
    }
    .importante{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 400px;
        margin-bottom: 50px;
    }
    .twitter-timeline{
        display: none;
    }
}

@media only screen and (max-width: 820px)and (min-width: 391px){
    .imagen{
        display: none;
    }
    .imagen2{
        animation: none;
    }
    .titulo{
        margin-left: 100px;
        margin-right: 100px;
    }
    video{
        width: 700px;
        margin-left: 65px;
        
    }
    .mapa{
        margin-left: 32%;
        margin-top: 500px;
    }
    .importante{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 450px;
        margin-bottom: 50px;
    }
    .twitter-timeline{
        display: none;
    }
}

@media only screen and (max-width: 1441px) and (min-width: 821px) {
    .titulo{
        color: #000;
        margin-right: 400px;
        margin-left: 400px;
    }
    video{
        width: 600px;
        margin-left: 415px;
    }
    
    .mapa{
        margin-left: 1100px;
        margin-top: 50px;
    }
    legend{
        font-size: 12px;
    }
    .importante{
        color: #000;
        margin-right: 400px;
        margin-left: 400px;
        margin-top: 100px;
    }
    .twitter-timeline{
        margin-top: 30px;
    }


}
